[submodule "Tools/koremake"]
	path = Tools/koremake
	url = ../koremake
	branch = master
[submodule "Tools/kraffiti"]
	path = Tools/kraffiti
	url = ../kraffiti_bin
	branch = master
[submodule "Tools/krafix"]
	path = Tools/krafix
	url = ../krafix_bin
	branch = master
