[submodule "Tools/kraffiti"]
	path = Tools/kraffiti
	url = https://github.com/Kode/kraffiti_bin.git
	branch = jscompat
	shallow = true
[submodule "Tools/krafix"]
	path = Tools/krafix
	url = https://github.com/Kode/krafix_bin.git
	branch = jscompat
	shallow = true
[submodule "Tools/kincmake"]
	path = Tools/kincmake
	url = https://github.com/Kode/kincmake.git
	branch = jscompat
