/Examples/Shader/build
/Tools/kake
/Tools/kfx
/Examples/Shader/Deployment/shader.frag
/Examples/Shader/Deployment/shader.vert
/Examples/Blocks/build
/Examples/Blocks/Deployment/shader.frag
/Examples/Blocks/Deployment/shader.vert
