name: Windows (Vulkan)

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup Vulkan
      run: |
          Invoke-WebRequest -Uri "https://sdk.lunarg.com/sdk/download/1.2.189.2/windows/VulkanSDK-1.2.189.2-Installer.exe" -OutFile VulkanSDK.exe
          $installer = Start-Process -FilePath VulkanSDK.exe -Wait -PassThru -ArgumentList @("--da", "--al", "-c", "in");
          $installer.WaitForExit();
    - name: Get Submodules
      run: git submodule update --init --recursive
    - name: Compile
      run: .\Tools\kmake\kmake.exe -v vs2019 -g vulkan --kinc . --from Tests/Empty --noshaders --compile
      env:
        VULKAN_SDK: C:\VulkanSDK\1.2.189.2
