name: Windows (Direct3D 11)

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Get Submodules
      run: git submodule update --init --recursive
    - name: Compile
      run: .\Tools\kmake\kmake.exe -v vs2022 -g direct3d11 --kinc . --from Tests/Empty --compile
    - name: Get ImageMagick
      run: |
        choco install -y imagemagick.app --no-progress
        Get-ChildItem -Path "${env:ProgramFiles}" | Where-Object {($_.Name -Like 'ImageMagick*')} | % { $_.FullName } | Out-File -Append -FilePath $env:GITHUB_PATH -Encoding utf8
    - name: Compile and run Test 1
      run: .\Tools\kmake\kmake.exe -v vs2022 -g direct3d11 --kinc . --from Tests/Shader --run
    - name: Check Test 1
      run: magick compare -metric mae .\Tests\Shader\reference.png .\Tests\Shader\Deployment\test.png difference.png
